<launch>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS1" >
		<param name="uav_name" value="uav1"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS2" >
		<param name="uav_name" value="uav2"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS3"  >
		<param name="uav_name" value="uav3"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS4" >
		<param name="uav_name" value="uav4"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS5" >
		<param name="uav_name" value="uav5"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS6"  >
		<param name="uav_name" value="uav6"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS7"  >
		<param name="uav_name" value="uav7"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS8"  >
		<param name="uav_name" value="uav8"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS9"  >
		<param name="uav_name" value="ugv1"/>
</node>

<node pkg="ROS_tutorials" type="pub_DroneState" name="pub_DS10"  >
		<param name="uav_name" value="ugv2"/>
</node>


<node pkg="ROS_tutorials" type="pub_socket" name="pub_socket" output="screen" launch-prefix="gnome-terminal --">	
		<param name="swarm_num" value="10"/>
		<param name="uav1_name" value="uav1"/>
		<param name="uav2_name" value="uav2"/>
		<param name="uav3_name" value="uav3"/>
		<param name="uav4_name" value="uav4"/>
		<param name="uav5_name" value="uav5"/>
		<param name="uav6_name" value="uav6"/>
		<param name="uav7_name" value="uav7"/>
		<param name="uav8_name" value="uav8"/>
		<param name="uav9_name" value="ugv1"/>
		<param name="uav10_name" value="ugv2"/>
</node>



</launch>